
::placeholder {
    color: lightskyblue !important;
    opacity: 6;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  6;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }
 body{
     background-image: url('banner-hide-happy-dog-puppy-winking-one-eye-smiling-colored-blue-backgorund-closed-eyes-201151108.jpg');
     background-repeat: no-repeat;
     background-size: cover;
    color: rgb(0, 0, 0);
     
 }
#grid-contatos{
    background-color: #f0f8ff7d;
}
img{
    height: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#foto{
    display: grid;
    place-items: center;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;

}
#foto img {
    margin: auto;
}
.photo{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    display: none;
 width: max-content;
 position:absolute !important;
 bottom:30%;
 right: 40px;
 line-height: 30px;
 text-align: center;
 background: rgba(61, 22, 236, 0.445);
 color: wheat;
 line-height:30px;
 font-family: sans-serif;
 font-size: 15px;
 cursor: pointer;
 
}
